<ul class="navbar sticky-top bg-light">
  <li>
    <a routerLink=""
       routerLinkActive="active">Logo!!!</a>
  </li>
  <li>
    <a routerLink="/noticias"
       routerLinkActive="active">Noticias</a>
  </li>
  <li>
    <a routerLink="/eventos"
       routerLinkActive="active">Eventos</a>
  </li>
  <li>
    <a routerLink="/galeria"
       routerLinkActive="active">Galería</a>
  </li>
  <li>
    <a routerLink="/login"
       routerLinkActive="active">Entrar</a></li>
  <li>
    <a routerLink="/register"
       routerLinkActive="active">Subscribirse</a>
  </li>
</ul>