<rcs-form>
  <div class="container">
    <rcs-errors></rcs-errors>
    <form [formGroup]="registerForm"
          (ngSubmit)="register()">
      <rcs-form-control [control]="registerForm.get('fullName')">
        <input type="text"
               placeholder="Nombre y apellidos"
               formControlName="fullName" />
      </rcs-form-control>
      <rcs-form-control [control]="registerForm.get('email')">
        <input type="email"
               placeholder="Email"
               formControlName="email" />
      </rcs-form-control>
      <rcs-form-control [control]="registerForm.get('password')">
        <input type="password"
               placeholder="Contraseña"
               formControlName="password" />
      </rcs-form-control>
      <rcs-form-control [control]="registerForm.get('confirmPassword')"
                        [group]="registerForm">
        <input type="password"
               placeholder="Confirm password"
               formControlName="confirmPassword" />
      </rcs-form-control>
      <div class="button-wrapper">
        <button>
          Register
        </button>
      </div>
    </form>
  </div>
</rcs-form>