ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background: black;
  padding: 0rem 3rem;
li {
  display: block;
  transition-duration: 0.5s;
  padding: 1.5rem;
  
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: yellow;
  }
 }
 
 li:hover {
   cursor: pointer;
   border: 0.5px solid yellow;
 }
 
 .logout {
   font-size: 0.7rem;
   color: lightgrey;  
 }
}