@import url('https://fonts.googleapis.com/css?family=Alegreya');

header {
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background: black;

}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

span {
  font-size: 2rem;
  color: yellow;
}
