<main>
  <form [formGroup]="eventForm"
        (ngsubmit)="addEvent()">
    <input type="text"
           placeholder="Nombre"
           formControlName="name" />
    <textarea rows="20"
              placeholder="Descripción"
              formControlName="description">
  </textarea>
    <input type="datetime-local"
           formControlName="date" />
    <input type="text"
           placeholder="Lugar"
           formControlName="location">
    <fieldset></fieldset>
    <button type="submit">
      Publicar
    </button>
  </form>
</main>